@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Raleway');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
    background-color: #555;
    width: 8px;
    height: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
    background-color: #555;
}

a,
.us-sorter img {
    cursor: pointer;
}

.orange-bg {
    background: #F05A29;
}

.blue-bg {
    background: #25A8E0;
}

.orange-c {
    color: #F05A29;
}

.blue-c {
    color: #13678B;
}

h3.team-title.blue-c,
h3.us-title-l.blue-c {
    color: #25A8E0 !important;
}

.white-c {
    color: #ffffff;
}

.blur {
    filter: blur(8px);
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.padding-m {
    padding: 5% 9%;
}

.italic {
    font-style: italic;
}

body {
    overflow: hidden;
    overflow-y: auto;
}

body,
html,
.page-holder {
    font-family: 'Montserrat', sans-serif;
    color: #25A8E0;
    position: relative;
    max-width: 100vw;
}

.popup-overlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #7375764a;
    z-index: 1000;
    display: none;
}

.justify {
    text-align: justify;
}

.popup {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    background: white;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.popup span {
    position: absolute;
    width: 12px;
    left: 50%;
    top: 50%;
    height: 30px;
    background: #F05A29;
    border-radius: 3px;
    transition: 0.5s;
}

.popup span.vertical {
    transform: translate(-50%, -50%) rotate(135deg);
}

.popup span.horizontal {
    transform: translate(-50%, -50%) rotate(45deg);
}

.popup .quote {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
}

.close {
    position: absolute;
    top: 42px;
    z-index: 10;
    transform: translate(-50%, -50%);
    left: 15%;
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.close.home {
    top: 100%;
    left: 54%;
}

.popup p {
    padding: 15vh 30px;
    height: 70%;
    text-align: center;
    margin-bottom: 10%;
    overflow-y: scroll;
}

.popup b {
    padding: 0 10%;
}

.container {
    position: relative;
}

.uppercase {
    text-transform: uppercase;
}


.container.main {
    padding-top: 12vh;
    max-width: 100%;
}

section {
    width: 100%;
    position: relative;
}

.menu {
    height: 12vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #25A8E0;
    position: fixed;
    left: 0;
    width: 100vw;
    z-index: 100;
}

.lang {
    position: absolute;
    text-decoration: none;
    left: 3vh;
    top: 3vh;
    color: white;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.underline {
    cursor: pointer;
    text-decoration: none;
    position: relative;
    font-weight: 900;
}

.underline:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.plus {
    height: 100%;
    position: relative;
}

.plus div {
    width: 2vh;
    background: white;
    height: 100%;
    position: absolute;
    top: 0;
    right: 2%;
}

.horizontal {
    transform: rotate(90deg);
}

footer::before {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    top: -51px;
    background: white;
}

#burger-menu {
    position: fixed;
    top: 3vh;
    right: 4vh;
    height: 10vh;
    width: 5vh;
    z-index: 12;
}

#burger {
    display: none;
}

.us-title-l {
    text-align: center;
    margin: 30px 0;
    font-size: 35px;
    display: block;
    position: relative;
    letter-spacing: 4px;
}

.us-title-l::before {
    position: absolute;
    top: 1.3em;
    height: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    content: '';
    border-top: 2px solid #F05A29;
}

body input+label span {
    position: absolute;
    width: 50%;
    height: 60%;
    top: 0%;
    right: 0;
    display: block;
    background: #ffffff;
    border-radius: 3px;
    transition: 0.5s;
}

body label:hover {
    cursor: pointer;
}

body input:checked+label span {
    opacity: 0;
    top: 0;
    opacity: 1;
    display: inline-block;
}

.burger-img {
    width: 2.2vh;
    height: 1.5vh;
    z-index: 100;
    position: relative;
    top: 2.1vh;
    left: 2.7vh;
}

#burger:checked+label span:first-child {
    transform: rotate(405deg);
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -o-transform: rotate(405deg);
}

#burger:checked+label span:last-child {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
}

#burger:checked+label img {
    opacity: 0;
}

body input~nav {
    background: #25A8E0;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 11;
    transition: 0.5s;
    transition-delay: 0.5s;
    overflow: hidden;
}

body input~nav>ul {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 20%;
    right: 20%;
    height: 75%;
    list-style-type: none;
}

body input~nav>ul>li {
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0s;
}

body input~nav>ul>li>a {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-size: 140%;
    display: block;
    margin: 3vh 0;
}

body input~nav>ul>li>a:hover {
    text-decoration: underline;
}

body input~nav>ul>li>a.special {
    background: #F05A29;
    border-radius: 5px;
    padding: 5px 4px;
    margin: 3vh -20px;
}

body input~nav>ul>li:last-child {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

body input~nav>ul>li>img {
    width: 40px;
    height: 20px;
}

body input:checked~nav {
    height: 100%;
    opacity: 1;
    transition-delay: 0s;
    overflow-y: scroll;
}

body input:checked~nav>ul>li {
    opacity: 1;
    transition-delay: 0.5s;
}

body input~nav>ul>li.social {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    margin: 10 auto;
    cursor: pointer;
}

body input~nav>ul>li.social.facebook {
    background-image: url("../img/social/facebook.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    left: 20px;
}

body input~nav>ul>li.social.instagram {
    background-image: url("../img/social/instagram.svg");
    background-repeat: no-repeat;
    background-position: 0%;
    left: 60px;
}

body input~nav>ul>li>a.social {
    width: 20px;
    margin: 0;
    height: 20px;
}

.navigation-ul>.follow-us {
    color: white;
    position: absolute;
    left: 0;
    top: 0px;
}

.dropdown-content a {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-size: 140%;
    display: block;
    margin: 3vh 0;
}

#dropdown>a,
#dropdown-2>a {
    display: none;
}

.hill {
    width: 100%;
    height: 398px;
    display: flex;
    background-image: url(../img/home/header.svg);
    background-repeat: no-repeat;
    margin-top: -2px;
}

.obj-sort-parent {
    display: flex;
    align-items: center;
    margin-left: 3%;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

.obj-sort {
    margin: 0;
    width: 30%;
    padding: 10px;
    box-shadow: 0px 5px 17px rgba(39, 114, 208, 0.23);
    border-radius: 10px;
    cursor: pointer;
}

.obj-sort img {
    margin: 0;
    padding: 0;
    box-shadow: none;
    width: 100%;
}

.obj-sort p {
    padding: 0 !important;
    height: 60px;
    display: block;
    font-size: 80%;
    text-align: center;
}

.popup .caravan {
    width: 100%;
}

.hill-bot {
    width: 100%;
    height: 200px;
    display: flex;
}

.hill-bot::before {
    content: "";
    flex: 1;
    height: 50%;
    border-radius: 110%/67px 174px 0 0;
    background: #25A8E0;
    box-shadow: inset 0px 5px 17px rgba(164, 176, 191, 0.23);
}

.video {
    box-shadow: 0px 5px 17px rgba(164, 176, 191, 0.23);
    width: 80vw;
    height: auto;
    position: absolute;
    top: 0;
    left: 10vw;
}

.video .video-holder {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.video .play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.video-section h2,
.video-section p {
    text-align: center;
    padding: 10px 16%;
}

a.logo>img {
    height: 90%;
    max-height: 75px;
}

.donate {
    position: fixed;
    right: 5%;
    bottom: 2%;
    cursor: pointer;
    z-index: 1000;
}

.donate span {
    background: #25A8E0;
    width: 70%;
    height: 60%;
    display: block;
    position: absolute;
    right: 2%;
    border-radius: 3px;
    max-width: 110px;
}

.donate p {
    position: absolute;
    right: 2%;
    z-index: 20;
    color: #ffffff;
    top: 9%;
    padding: 0;
    font-size: 2vh;
}

section.team-section {
    margin-top: 10vh;
}

div.heading {
    text-align: center;
    color: white;
    padding: 10px 0;
}

div.grid {
    display: flex;
    flex-wrap: wrap;
}

.no-shadow {
    box-shadow: none !important;
}

.grid .element {
    width: 46%;
    margin: 2%;
    text-align: center;
    padding: 10px;
}

.grid .element img {
    padding: 10px;
    width: 50%;
}

.mobile-unit.caravan-page h4 {
    text-align: center;
}

.overflow-row {
    display: flex;
    width: 100%;
    margin-top: 20px;
    height: fit-content;
    overflow-x: scroll;
}

.overflow-row .element {
    height: 100%;
    background: #ffffff;
    margin: 3%;
    min-width: 27vw;
    max-width: 27vw;
    border-radius: 5px;
    height: auto;
    position: relative;
}

.overflow-row .element span {
    line-height: 23px;
    padding: 2%;
    display: inline-block;
    width: 49%;
    font-size: 80%;
    float: right;
    text-align: right;
}

.overflow-row .element .cover {
    min-height: 230px;
    max-height: 230px;
    object-fit: cover;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.overflow-row .element a {
    width: 40vw;
    max-width: 330px;
}

.overflow-row .element .icon {
    max-width: 20%;
    line-height: 23px;
    float: right;
    height: 23px;
    margin-top: 2%;
    margin-right: 4px;
    display: none;
}

.overflow-row .element p {
    font-size: 22px;
    width: 100%;
    float: left;
    font-weight: bold;
    line-height: 23px;
    padding: 2%;
}

.overflow-row .element.partners p {
    max-width: 100%;
    min-width: 100%;
    text-align: center;
    padding: 25px 0;
}

.overflow-row .element:nth-child(even) {
    box-shadow: 0px 5px 17px rgba(39, 114, 208, 0.23);
}

.overflow-row .element:nth-child(odd) {
    box-shadow: 0px 5px 17px rgba(190, 44, 18, 0.23);
}

.overflow-row .media-testimonial {
    display: none;
    font-size: 14px !important;
}

.overflow-row.involve .element {
    min-width: 37% !important;
}

.no-scroll-wrap {
    flex-wrap: wrap;
    overflow-x: visible;
}

.no-scroll-wrap .element.partners {
    box-shadow: none !important;
}

.no-scroll-wrap .element.partners {
    box-shadow: none !important;
}

.no-scroll-wrap .element.partners .cover {
    margin: 0 auto;
    display: block;
    width: 60%;
    min-height: 200px;
}

.no-scroll-wrap .element.partners img.icon {
    max-width: 100%;
    width: 100%;
    float: none;
    text-align: center;
}


.no-scroll-wrap .element {
    width: 18vw;
    height: auto;
}

.no-scroll-wrap .element .cover {
    width: 100%;
}

.no-scroll-wrap .element .cover {
    object-fit: contain;
}

.block-with-text {
    overflow: hidden;
    position: relative;
    line-height: 1.31em;
    max-height: 14.8em;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
    margin-bottom: 20px;
}

.block-with-text:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}

.block-with-text:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}

.testimonials {
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
    height: fit-content;
    margin: 50px 0;
    padding: 0 10px;
    position: relative;
}

.wrapper_holder {
    position: relative;
}

.testimonial_navigation {
    position: absolute;
    z-index: 100;
    top: -40px;
    right: 60px;
    max-width: 35px;
    cursor: pointer;
}

.testimonial {
    width: 60%;
    display: block;
    margin: 3%;
    min-width: 70vw;
    text-align: center;
    position: relative;
    padding: 5%;
    box-shadow: 0px 5px 17px rgba(190, 44, 18, 0.23);
    font-size: 11.2px;
    border-radius: 5px;
}

.pay_buton_holder {
    display: flex;
}

button.paypal {
    width: 60%;
    margin: 15px;
    color: white;
    border: 0;
    min-height: 30px;
    border-radius: 5px;
    font-size: 20px;
    padding: 7px;
    cursor: pointer;
    box-shadow: 0px 5px 17px rgba(190, 44, 18, 0.23);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 40px;
    background: #F05A29;
}

button.paypal img {
    height: 100%;
    width: 26px;
    margin: 0 9px;
}

button.paypal.mobilpay {
    height: 50px;
    max-width: 120px;
    position: relative;
    margin: 15px;
}

button.paypal.mobilpay .interior {
    display: flex;
    flex-direction: column;
}

button.paypal.mobilpay span {
    font-size: 12px;
    position: absolute;
    color: #25A8E0;
    background: white;
    box-shadow: 0px 11px 17px rgba(164, 176, 191, 0.51);
    top: -40px;
    padding: 6px 8px 4px;
    width: 100%;
}

.mobilpay span:before {
    content: '';
    width: 0;
    height: 0;
    bottom: -5px;
    right: 4px;
    z-index: 1000;
    position: absolute;
    border-style: solid;
    border-width: 5px 3.5px 0 3.5px;
    border-color: #ffffff transparent transparent transparent;
}

button.paypal.mobilpay>a {
    display: flex;
    align-items: center;
    color: white;
}

.mobilpay .info {
    position: absolute;
    right: -20px;
    margin: 0;
    top: -20px;
    height: auto;
}

.mobilpay span .close_info {
    position: absolute;
    width: 15px;
    top: -7px;
    right: -6px;
    background: white;
    margin: 0;
    border-radius: 50%;
    height: 15px;
}

div.pay_holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto 0;
}

.shadow-block.donation_block {
    width: 80% !important;
    margin: 0 auto !important;
}

.testimonial img {
    position: absolute;
    left: -20px;
    top: 0;
    padding: 5px;
    width: 35px;
    border-radius: 5px;
    background: white;
    border: 2px solid #25A8E0;
}

.testimonials button {
    position: absolute;
    width: 100%;
    left: 0;
    color: white;
    border: 0;
    bottom: 0;
    min-height: 40px;
    border-radius: 0 0 5px 5px;
    font-style: italic;
    font-size: 17px;
    cursor: pointer;
}

.partner-section .row {
    display: flex;
    flex-direction: row;
}

.partner-section .row .partner {
    margin: 5% 0;
    display: flex;
    align-items: center;
}

.partner-section .row .partner img {
    width: 80%;
    margin: 0 auto;
    display: block;
}

footer {
    margin-top: 55px;
    position: relative;
    z-index: 5;
    background: white;
}

footer>nav.menu {
    height: 5vh;
}

footer .quote {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
    display: block;
    box-shadow: 0px 5px 17px rgba(190, 44, 18, 0.23);
    padding: 17px;
    z-index: 3;
    background: white;
}

footer>img {
    position: absolute;
    width: 102%;
    top: -50px;
    z-index: -1;
    height: 170%;
    left: -1;
    background-image: url(../img/home/footer.svg);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position-y: -25vw;
}

footer .copyright {
    text-align: center;
    font-size: 13px;
    margin: 40px 0;
    padding: 40px 0 0;
    color: white;
}


/* Team Page */

.team-sort {
    display: flex;
    justify-content: center;
    margin: 5%;
    flex-wrap: wrap;
}

.team-sort p {
    font-size: 80%;
    padding: 15px;
}

.reports .element {
    background: #ffffff;
    margin: 6% auto;
    border-radius: 5px;
    width: 90vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 17px rgba(190, 44, 18, 0.23);
}

.reports .element img {
    width: 100%;
}

.reports .element p {
    text-align: center;
    padding: 15px;
}

.reports a,
.home-section .element a {
    text-decoration: none;
}

#main-media>.element:nth-child(5)~.element {
    display: none;
}

.team-member {
    width: 80vw;
    height: 80vw;
    margin: 40px auto;
    display: block;
    background: #ffffff;
    border-radius: 10px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.team-member:nth-child(even) {
    box-shadow: 0px 5px 17px rgba(39, 114, 208, 0.23);
}

.team-member:nth-child(odd) {
    box-shadow: 0px 5px 17px rgba(190, 44, 18, 0.23);
}

.team-member .social {
    position: absolute;
    width: 40px;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.team-member .social img {
    width: 100%;
}

.team-member .profile {
    max-width: 200px;
    width: 60%;
    margin: 20px auto 15px;
    border-radius: 50%;
}

.team-member p {
    padding: 6px;
}

.hidden,
.us-sorter p,
.team-title {
    display: none;
}

.us-sorter .holder-sorter {
    text-align: center;
}

.us-sorter .holder-sorter img {
    width: 33%;
}

.popup .team-member {
    box-shadow: none;
    display: block !important;
}

.popup .team-member .social {
    top: -5px;
    right: -5vw;
}

.popup .team-member p {
    height: auto;
    padding: 5px;
    overflow: scroll;
    font-size: 12px;
}

.popup .full-text {
    height: 40% !important;
}

.popup .profession {
    overflow: scroll;
}

.reverse {
    flex-direction: row-reverse;
    /* animation: scroll-reverse 12s linear infinite !important; */
}

.shadow-block {
    width: 90%;
    text-align: center;
    display: block;
    margin: 15px auto;
    box-shadow: 0px 5px 17px rgba(39, 114, 208, 0.23);
    border-radius: 7px;
    padding: 12px;
    z-index: 2;
    position: relative;
    background: white;
    vertical-align: top;
}

.steps img {
    width: 90vw;
    margin: 10px auto;
    display: block;
}

.shadow-block ul {
    text-align: left;
    margin: 5%;
}

.shadow-block ul>li {
    margin: 5% 0;
}

button.orange-bg {
    width: 60%;
    display: block;
    margin: 15px auto;
    color: white;
    border: 0;
    min-height: 30px;
    border-radius: 5px;
    font-size: 20px;
    padding: 7px;
    cursor: pointer;
    box-shadow: 0px 5px 17px rgba(190, 44, 18, 0.23);
}

.road {
    width: 52%;
    height: 80%;
    position: absolute;
    left: 0;
    background-image: linear-gradient(#25A8E0 74%, rgba(255, 255, 255, 0) 0%);
    background-position: right;
    background-size: 7px 45px;
    background-repeat: repeat-y;
    z-index: 1;
}

.road-margin {
    margin: 60px auto;
}

.shadow-block.about-us p {
    margin: 15px auto;
}

.donation-holder .shadow-block h3 {
    font-size: 20px;
}

.donation-holder .shadow-block>.shadow-block {
    box-shadow: none;
    margin: 1% 3% 0;
}

.donation-holder .shadow-block>.shadow-block a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 900;
}

.donation-holder .shadow-block>.shadow-block h3 {
    padding: 5% 0;
    font-size: 18px;
}

.shadow-block.about-us h3 {
    position: relative;
    line-height: 1.2em;
}

.shadow-block.about-us h3::before {
    position: absolute;
    top: 1.3em;
    height: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    content: '';
    border-top: 2px solid #25A8E0;
}

.us-sorter {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    align-items: center;
}

.contact-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 7%;
}

.contact-box p {
    padding: 2% 0;
}

.news-section {
    width: 100%;
    overflow: hidden;
}

.infinite {
    position: relative;
    /* animation: scroll 12s linear infinite; */
    overflow: hidden;
    margin: 10px 0;
    overflow-x: scroll;
}

.news-section:hover {
    animation-play-state: paused
}

.infinite .element {
    float: left;
}

.overflow-row.gallery {
    flex-direction: column;
}

.overflow-row.gallery .element {
    margin: 3% auto;
    width: 90vw;
    display: block;
}

.overflow-row.gallery .element .icon {
    width: 40px;
    height: 40px;
}

#full-statement {
    width: 60%;
    height: 70%;
    overflow-y: scroll;
    text-align: center;
    margin: 10% auto;
}

#full-statement h3 {
    margin-bottom: 20px;
}

#full-statement p {
    height: auto;
    padding: 10px 0;
    margin: 0;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: justify;
}

.grid .element:nth-child(even) {
    box-shadow: 0px 5px 17px rgba(39, 114, 208, 0.23);
}

.grid .element:nth-child(odd) {
    box-shadow: 0px 5px 17px rgba(190, 44, 18, 0.23);
}

img.header {
    width: 90%;
    margin: 30px auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0px 5px 17px rgba(39, 114, 208, 0.23);
}

.team-title.unit {
    display: block;
    text-align: center;
    margin: 25px 0;
    position: relative;
}

.team-title.unit::before {
    position: absolute;
    top: 1.3em;
    height: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    content: '';
    border-top: 2px solid #25A8E0;
}

.absolute-title,
.mobile-show {
    display: block !important;
    text-align: center;
    margin: 20px 0;
    position: relative;
}

.absolute-title::before,
.mobile-show::before {
    position: absolute;
    top: 1.3em;
    height: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    content: '';
    border-top: 2px solid #25A8E0;
}

.mobile-unit p {
    width: 100%;
    margin: 40px auto;
    background: white;
    text-align: center;
    box-shadow: 0px 5px 17px rgba(39, 114, 208, 0.23);
    border-radius: 10px;
    padding: 15px;
}

.mobile-unit .holder-unit img {
    width: 90%;
}

.mobile-unit .holder-unit {
    width: 49%;
    display: inline-block;
    text-align: center;
    margin: 20px 0;
}

.request-ed {
    background: #25A8E0;
    border-radius: 5px;
    padding: 7px 4px;
    color: white;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    min-width: 140px;
    max-width: 20%;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

.show-title {
    text-align: center;
    display: block;
    margin-top: 20px;
}

.close-media {
    bottom: -25px;
    left: 50%;
    top: auto;
    box-shadow: 0px 5px 17px rgba(190, 44, 18, 0.23);
}

.close-media span {
    position: absolute;
    width: 12px;
    left: 50%;
    top: 50%;
    height: 30px;
    background: #F05A29;
    border-radius: 3px;
    transition: 0.5s;
}

.close-media .horizontal {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close-media .vertical {
    transform: translate(-50%, -50%) rotate(135deg);
}

.gallery.facebook {
    width: 35px;
    height: 35px;
    position: absolute;
    top: calc(22vh + 15px);
    right: 2.7vh;
}

#caravans {
    flex-wrap: wrap;
    overflow: hidden;
}

.caravan p.blue-c {
    padding: 0 10%;
    text-align: justify;
    font-size: 18px;
}

.gallery.facebook img {
    width: 100%;
}

@keyframes scroll {
    0% {
        left: 500px;
    }

    100% {
        left: -1000px;
    }
}

@keyframes scroll-reverse {
    0% {
        left: -500px;
    }

    100% {
        left: 1000px;
    }
}

/* Responsive */

@media screen and (min-width: 726px) {

    #burger-menu,
    .about-us,
    .us-title,
    .us-sorter .donate {
        display: none !important;
    }

    #dropdown>a,
    #dropdown-2>a {
        display: block;
    }

    .menu {
        width: 100vw;
        border-radius: 0;
    }

    .video-section {
        height: 70vh;
        margin-top: -8vh;
    }

    .close.home {
        left: 50%;
    }

    body input~nav>ul>li {
        opacity: 1;
        padding: 0 10px;
        display: flex;
        align-items: center;
    }

    body input~nav>ul>li.special {
        position: absolute;
        top: 1.3vh;
        right: 50px;
        display: block;
        height: 2px;
    }

    li.special.donate-btn {
        right: 220px;
    }

    footer li.special {
        width: max-content;
    }

    body input~nav>ul {
        display: flex;
        align-items: center;
        top: 25px;
        right: 25px;
        left: auto;
    }

    body input~nav {
        position: initial;
    }

    body input~nav>ul>li>a {
        font-size: 12px;
        text-decoration: none;
    }

    body input~nav>ul>li.social {
        margin: 0 5px;
        display: block;
    }

    .video {
        width: 50vw;
        top: 14%;
        max-width: 650px;
    }

    footer>img {
        height: calc(100% + 100px);
    }

    a.logo {
        position: absolute;
        left: 10px;
        cursor: pointer;
    }

    .overflow-row.involve .element {
        min-width: 17% !important;
    }

    .home-container section .us-title-l {
        margin: 0;
    }

    .video-section h2,
    .video-section p {
        margin-left: 53%;
        padding: 10px 10%;
        position: absolute;
        top: 53%;
        padding-right: 0;
        color: white;
    }

    .pay_holder {
        flex-direction: column;
    }

    .video-section p {
        top: 53%;
        right: 5%;
        margin-left: 53%;
    }

    .donate-btn-fix {
        width: 140%;
    }

    .hill {
        height: 350px;
        width: 100vw;
    }

    .donate p {
        right: 8px;
        padding: 2%;
        top: 3px;
    }

    .lang {
        right: 29px;
        top: 2.9vh;
        z-index: 200;
        cursor: pointer;
        left: auto;
        text-decoration: none;
    }

    .lang:hover {
        text-decoration: underline;
    }

    .donate span {
        height: 7.3vw;
    }

    .grid .element {
        width: 16vw;
        height: 16vw;
        text-align: center;
        padding: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: 4%;
        border-radius: 5px;
        cursor: pointer;
    }

    .gallery.facebook {
        width: 35px;
        position: absolute;
        top: calc(12vh + 80px);
        right: 40px;
    }

    div.grid {
        align-items: center;
        justify-content: center;
        /* background: #FBFBFB; */
        margin-top: 10px;
        margin: 30px 0;
    }

    div.heading {
        color: #25A8E0;
        background: none;
        font-weight: bolder;
    }

    div.numbers .element {
        width: 43vw;
        padding: 0 11vw;
        height: 20vw;
        margin: 0;
    }

    .testimonials {
        height: 400px;
    }

    .testimonial {
        min-width: 22vw;
        width: 27vw;
        margin: 3%;
        flex: none;
        padding: 2%;
    }

    .block-with-text {
        font-size: 1.6em;
        max-height: 230px;
    }

    .us-sorter {
        justify-content: flex-end;
        padding: 5vw;
        background: #FBFBFB;
        width: 100vw;
        margin: 0 auto 140px;
        position: relative;
    }

    .us-sorter p {
        display: block;
        line-height: 20px;
        padding: 60px;
    }

    .us-sorter img.box {
        margin: 20px;
        padding: 20px;
        max-width: 150px;
        box-shadow: 0px 5px 17px rgba(39, 114, 208, 0.23);
        border-radius: 10px;
    }

    .us-sorter .holder-sorter img {
        width: 100%;
    }

    .us-title-l {
        text-align: center;
        margin: 80px 0;
        font-size: 35px;
        display: block;
        position: relative;
        letter-spacing: 4px;
    }

    .us-title-l::before {
        position: absolute;
        top: 1.3em;
        height: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 150px;
        content: '';
        border-top: 2px solid #F05A29;
    }

    .us-popup .close {
        bottom: -60px;
        top: unset;
        left: 50%;
    }

    .us-popup .close span {
        background: #25A8E0;
    }

    #full-statement {
        margin: 3% auto;
    }

    .us-popup .popup {
        width: 80%;
        height: 80%;
    }

    #us-img {
        margin: 0 auto;
        height: 20%;
    }

    .no-scroll-wrap .element {
        width: 18vw;
        min-width: 18vw;
    }

    .obj-sort {
        max-width: 150px;
        max-height: 300px;
        padding: 20px 30px;
        margin: 0 20px;
    }

    .obj-sort p {
        padding: 0 !important;
        height: 80px;
        display: block;
        line-height: 30px;
    }

    .popup .caravan {
        width: initial;
        margin: 0 auto;
        height: -webkit-fill-available;
    }

    footer .menu {
        position: relative;
        background: none;
    }

    footer a.logo {
        width: 100px;
        height: 50px;
        transform: translate(0%, -50%);
        bottom: 45px;
    }

    footer .navigation-ul {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        transform: translate(-50%, -50%);
        left: 50%;
        justify-content: center;
    }

    footer .navigation-ul li.social {
        max-width: 30px;
        position: absolute;
        top: 32px;
    }

    footer .navigation-ul li {
        flex-basis: 20%;
        display: none;
    }

    footer .navigation-ul>#dropdown,
    footer .navigation-ul>#dropdown-2 {
        display: none;
    }

    footer .navigation-ul li.special,
    footer .navigation-ul li.special>a {
        display: inline-block !important;
        padding: 5px;
        width: 100%;
    }

    footer .navigation-ul li.special {
        position: initial;
        min-width: 160px;
    }

    footer .navigation-ul li.special.donate-btn {
        left: 70%;
    }

    .team-title {
        font-size: 35px;
        display: block;
        position: relative;
        letter-spacing: 4px;
        text-align: center;
        margin: 80px 0;
    }

    .team-title::before {
        position: absolute;
        top: 1.3em;
        height: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 150px;
        content: '';
        border-top: 2px solid #F05A29;
    }

    .team-sort {
        justify-content: center;
    }

    .team-sort p {
        margin: 0 15px;
        cursor: pointer;
        font-size: 20px;
    }

    .team-sort p:hover {
        text-decoration: underline;
    }

    body input~nav>ul>li>a.special {
        background: #F05A29;
        border-radius: 5px;
        padding: 7px 17px;
        margin: -2vh -20px;
    }

    .team-member {
        width: 28vw;
        display: inline-block;
        height: 30vw;
        max-height: 30vw;
        margin: 2vw;
        vertical-align: top;
    }

    .team-popup .popup {
        display: flex;
        align-items: center;
        width: 40%;
    }

    .team-popup .popup .team-member p,
    .team-popup .popup .team-member h3 {
        overflow: hidden;
    }

    .team-popup .popup .team-member p.title {
        margin-bottom: 5%;
    }

    .team-popup .popup .team-member .full-text {
        overflow-y: scroll;
    }

    .popup .team-member {
        height: 50%;
    }

    .infinite,
    .reverse {
        animation: none !important;
        flex-direction: row;
    }

    .overflow-row.involved {
        width: 90%;
        margin-left: 5%;
    }

    .overflow-row.involved .element {
        margin: 2%;
        width: 15vw;
    }

    .overflow-row.involved .element:first-child {
        margin-left: 0;
    }

    .overflow-row.involved .element p {
        width: 100%;
        text-align: center;
    }

    .shadow-block {
        width: 40%;
        text-align: center;
        display: inline-block;
        margin: 15px auto;
    }

    .shadow-block:nth-child(odd) {
        margin-left: 5%;
    }

    .shadow-block:nth-child(even) {
        margin-left: 10%;
    }

    .road {
        height: 100vh;
    }

    #dropdown,
    #dropdown-2 {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
        background: #25A8E0;
        box-shadow: 0px 5px 17px rgba(198, 208, 220, 0.23);
        left: 50%;
        transform: translate(-50%, 0%);
        border-radius: 0 0 10px 10px;
    }

    #dropdown-content a {
        display: block;
    }

    footer::before {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        top: -50px;
        background: white;
    }

    .dropdown-content a {
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px 20px;
        margin: 10px 0;
        display: block;
        width: 100%;
        font-size: 12px;
    }

    .dropdown-content a:hover {
        text-decoration: underline;
    }

    #dropdown:hover .dropdown-content,
    #dropdown-2:hover .dropdown-content {
        display: block;
    }

    .mobile-unit {
        width: 90%;
        margin-left: 5%;
        background: white;
        border-radius: 10px;
        box-shadow: 0px 5px 17px rgba(39, 114, 208, 0.23);
        margin-bottom: 10%;
        padding: 0 5%;
        flex-wrap: wrap;
        display: flex;
    }

    .mobile-unit p {
        width: 100%;
        display: inline-block;
        padding: 5%;
        text-align: center;
        line-height: 20px;
        box-shadow: none;
    }

    .caravan-page.mobile-unit {
        padding: 0;
    }

    .caravan-page.mobile-unit p {
        width: 100%;
        display: flex;
    }

    .caravan-page>p {
        width: 100%;
    }

    .caravan-page .steps p {
        box-shadow: 0px 5px 17px rgba(39, 114, 208, 0.23);
    }

    .caravan h3.team-title {
        padding: 0 50px;
    }

    .mobile-unit .steps {
        width: 31%;
        margin: 0 1%;
        text-align: center;
        display: inline-block;
    }

    .mobile-unit .steps img {
        width: 100%;
    }

    img.header {
        width: 90%;
        margin-left: 5%;
        position: absolute;
        top: -30px;
        clip-path: inset(30px 0px 490px 0px);
    }

    .team-title.unit {
        margin: 200px 0 80px;
    }

    .mobile-unit.education {
        margin: 5% auto;
    }

    .mobile-unit.education p {
        width: 100%;
        padding: 2%;
        margin-top: 0;
    }

    .header-img {
        width: 100%;
        height: 250px;
        position: absolute;
        top: 12vh;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header-img::before {
        content: '';
        background: rgba(255, 255, 255, .2);
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .header-img.ed {
        background-image: url(../img/header/first-aid.jpeg);
        background-position: bottom;
        height: 400px;
    }

    .header-img.m-unit {
        background-image: url(../img/header/mobile-unit.jpg);
        background-position: center;
    }

    .header-img.obj {
        background-image: url(../img/header/rural.jpg);
        background-position: center -140px;
        height: 400px;
    }

    .header-img.rural {
        background-image: url(../img/header/rural.jpg);
        background-position: center -130px;
    }

    .absolute-title {
        margin: 280px 0 40px;
        color: #25A8E0 !important;
    }

    .absolute-title.unit-title {
        margin: 430px 0 40px;
    }

    .absolute-title::before {
        content: '';
        border-top: 2px solid #F05A29;
    }

    .image {
        width: 27vw !important;
        margin: 2% !important;
        display: inline-block !important;
    }

    .donation-holder .shadow-block {
        width: 27%;
        margin: 3%;
        padding: 1%;
        display: inline-block;
        vertical-align: top;
    }

    .donation-holder .shadow-block>.shadow-block {
        width: 42%;
        box-shadow: none;
        margin: 1% 3% 0;
    }

    .donation-holder .shadow-block>.shadow-block a {
        text-decoration: none;
    }

    .donation-holder .shadow-block>.shadow-block h3 {
        padding: 5% 0;
        font-size: 18px;
    }

    button.orange-bg {
        min-width: 140px;
        max-width: 20%;
    }

    .contact-box img {
        width: 50%;
        max-width: 100px;
    }

    .holder-sorter {
        box-shadow: 0px 5px 17px rgba(39, 114, 208, 0.23);
        border-radius: 10px;
        max-width: 170px;
        min-width: 170px;
        max-height: 190px;
        padding: 20px 5px;
        margin: 0 40px;
        background: white;
    }

    .holder-sorter p {
        padding: 15px 0 !important;
        height: 70px;
    }

    .holder-sorter img.box {
        margin: 0;
        width: 80%;
        padding: 0 15% 0 15%;
        box-shadow: none;
    }

    .holder-sorter:hover {
        background: #25A8E0;
    }

    .holder-sorter:hover p {
        color: white;
    }

    .caravan-request {
        width: 44%;
        margin: 2.5% !important;
    }

    .testimonial-popup {
        padding: 23vh 30px;
        font-size: 19px;
        text-align: center;
        margin-bottom: 10%;
        overflow-y: scroll;
    }

    .overflow-row .element p {
        font-size: 22px;
        width: 50%;
        width: calc(100% - 30px);
    }

    .overflow-row .element.partners p {
        max-width: 100%;
        min-width: 100%;
        text-align: center;
    }

    .overflow-row .element span {
        width: 40%;
    }

    .overflow-row .element .icon {
        display: initial;
    }

    .overflow-row .element a:hover>.media-testimonial {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 87%;
        max-height: 90%;
        overflow: hidden;
        color: #25A8E0;
        background: rgb(255, 255, 255, 0.86);
    }

    .reports .element {
        background: #ffffff;
        margin: 3% auto;
        border-radius: 5px;
        width: 30vw;
        height: 30vw;
        max-height: 30vw;
        align-items: center;
        display: flex;
        box-shadow: 0px 5px 17px rgba(190, 44, 18, 0.23);
        flex-direction: column;
    }

    .reports .element img {
        border-radius: 5px 5px 0 0;
    }

    .reports .element p {
        padding: 10% 2%;
        width: 90%;
        text-align: center;
    }

}

@media screen and (min-width: 1000px) {
    .hill {
        height: 80vh;
        width: 100vw;
    }

    section.home-section .heading {
        margin: 20px 0;
    }

    .video-section p {
        top: 62%;
        right: 7%;
        margin-left: 52%;
    }

    .donate p {
        right: 10px;
        padding: 2%;
        top: 3px;
        font-size: 16px;
        margin: 0;
    }

    .donate span {
        height: 46%;
    }

    footer .navigation-ul li.special {
        left: 70%;
    }

    footer .navigation-ul li.special.donate-btn {
        left: 110%;
    }

    .header-img.obj {
        background-position: center -160px;
    }
}

@media screen and (max-width: 400px) {
    .overflow-row .element {
        min-width: 94%;
    }
}

@media screen and (max-width: 500px) {
    .hill {
        height: 250px;
    }

    .shadow-block.fita_laurentiu {
        width: 90% !important;
        height: auto !important;
        float: none !important;
    }

    .shadow-block.fita_laurentiu button {
        width: auto;
    }

    .donate_form .body .info {
        height: 60px;
    }

    .donate_form .body .info {
        height: 60px;
    }

    .donate_form .body .info img {
        bottom: 0;
    }
}

@media screen and (min-width: 1300px) {
    .video-section p {
        right: 11%;
    }
}

/* LightBox */

.lightbox {
    background-color: rgba(0, 0, 0, 0.8);
    overflow: scroll;
    position: fixed;
    display: none;
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.lightbox-container {
    position: relative;
    max-width: 960px;
    margin: 7% auto;
    display: block;
    padding: 0 3%;
    height: auto;
    z-index: 10;
}

@media screen and (max-width: 768px) {
    .lightbox-container {
        margin-top: 20vh;
    }
}

@media screen and (max-width: 414px) {
    .lightbox-container {
        margin-top: 13%;
    }
}

.lightbox-content {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.7);
}

.lightbox-close {
    text-transform: uppercase;
    background: transparent;
    position: absolute;
    font-weight: 300;
    font-size: 12px;
    display: block;
    border: none;
    color: white;
    top: -22px;
    right: 3%;
}

.video-container {
    padding-bottom: 56.25%;
    position: relative;
    padding-top: 30px;
    overflow: hidden;
    height: 0;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

/* Search */

div.search-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-1 {
    width: 5px;
    height: 40px;
    background: #25A8E0;
    margin: auto;
    position: relative;
    left: 45px;
    top: -20px;
    transform: rotate(-45deg);
    transition: .5s;
    transition-timing-function: cubic-bezier(1, 0, .3, 1);
    cursor: pointer;
}

.line-2 {
    width: 5px;
    height: 0px;
    background: #25A8E0;
    margin: auto;
    transform: rotate(-45deg);
    position: relative;
    left: 0;
    top: -40px;
    opacity: 0;
    transition: .5s ease-in-out;
    transition-timing-function: cubic-bezier(1, 0, .3, 1);
    cursor: pointer;
}

.search {
    font-weight: 900;
    color: #25A8E0;
    font-family: 'Open Sans', sans-serif;
    width: 100px;
    height: 100px;
    border: 5px solid #25A8E0;
    border-radius: 100px;
    cursor: default;
    transition: .7s;
    transition-timing-function: cubic-bezier(1, -0.5, 0, 1.5);
    text-align: left;
    box-sizing: border-box;
    padding-left: 15px;
    outline: none;
    font-size: 32px;
    background: transparent;
}


.search.active {
    width: 500px;
    height: 100px;
    border: 5px solid #25A8E0;
    border-radius: 20px;
    margin-bottom: 20px;
}

.donate_form {
    max-width: 460px;
    margin: 20px auto 0;
    box-shadow: 0px 4px 13px rgba(39, 114, 208, 0.15);
    border-radius: 15px;
}

@media (max-width: 767px) {
    .donate_form {
        margin-bottom: 30px;
    }
}

/* .col-xs-12.tabs a.btn_styles:first-child {
    border-radius: 5px 0 0;
}

.col-xs-12.tabs a.btn_styles:last-child {
    border-radius: 0 5px 0 0;
} */

.col-xs-12.tabs a.donat-box.btn_styles {
    border-radius: 5px;
}

.shadow-block.fita_laurentiu {
    height: 514px;
    vertical-align: middle;
    display: flex;
    width: 38vw;
    float: left;
    align-items: center;
    flex-direction: column;
}

.donate_form .tabs {
    padding: 15px;
}

.donate_form .tabs .btn_styles {
    width: 50%;
    float: left;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
}

.donate_form .tabs .btn_styles:not(.active) {
    color: #7e7549;
}

.donate_form .tabs .btn_styles.active {
    background-color: #25A8E0;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(39, 114, 208, 0.07);
}

.donate_form .donat-box {
    width: 33.3% !important;
}

.donate_form .radio {
    display: inline-block;
    position: relative;
}

.donate_form .radio .checkmark {
    display: inline-block;
    height: 12px;
    width: 12px;
    border: 1px solid #25A8E0;
    border-radius: 5px;
    margin-right: 5px;
}

.donate_form .radio input {
    display: none;
}

.donate_form .radio input:checked~.checkmark {
    background-color: #25A8E0;
}

.donate_form .input {
    position: relative;
}

.donate_form .input:before {
    content: '$';
    position: absolute;
    left: 18px;
    top: 50%;
    -webkit-transform: translateX(-100%) translateY(-50%);
    transform: translateX(-100%) translateY(-50%);
}

.donate_form .input input[type="number"] {
    height: 50px;
    line-height: 50px;
    width: 100%;
    padding: 0 120px 0 20px;
    color: #25A8E0;
    font-size: 20px;
}

.donate_form .input input[type="number"]::-webkit-inner-spin-button,
.donate_form .input input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.donate_form .input .addition {
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.donate_form #monthly .input input[type="number"] {
    padding: 0 120px 0 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 78px 0 rgba(206, 206, 206, 0.32);
}

.donate_form #once .input input[type="number"] {
    padding: 0 55px 0 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    box-shadow: 0 4px 78px 0 rgba(206, 206, 206, 0.32);
}

.donate_form .description {
    background-color: #f5f5f5;
    padding: 25px;
    text-align: center;
    height: 85px;
}

.donate_form .body {
    border-top: none;
    padding: 15px;
    border-radius: 5px;
}

.donate_form .body .info {
    margin: 15px 15px 15px 0px;
    color: #25A8E0;
    font-size: 22px;
    text-align: right;
    position: relative;
}

.donate_form .body .info img {
    max-height: 25px;
    position: absolute;
    left: 0;
}

.donate_form .body .donate_buttons .btn_styles {
    background-color: #25A8E0;
    height: 50px;
    border-style: none;
    border-radius: 10px;
    line-height: 50px;
    color: #fff;
    width: 100%;
    box-shadow: 0px 3px 12px rgba(39, 114, 208, 0.15);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 900;
}

.donate_form .goal,
.donate_form .subgoal,
.donate_form .thank-you {
    text-align: center;
    max-width: 470px;
    margin: 0 auto;
}

.donate_form .goal {
    font-size: 21px;
    line-height: 25.2px;
    color: #25A8E0;
    margin-bottom: 20px;
}

.donate_form .subgoal {
    font-size: 12px;
    line-height: 16.8px;
    color: #2a3033;
    margin-bottom: 30px;
}

.donate_form .thank-you {
    font-size: 43px;
    line-height: 51.6px;
    color: #25A8E0;
}

.row.buttons {
    height: 55px;
}

.row.buttons .tabs {
    height: 35px;
    margin: 40px 0;
}

.buttLeft {
    padding: 15px 0px 0px 0px;
}

.tab_buttons {
    height: 40px;
}